<?xml version="1.0" encoding="UTF-8"?>
<beans
 xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                      http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/context
                      http://www.springframework.org/schema/context/spring-context.xsd">
        
   <bean id="twitter" class="com.services.TwitterService"></bean>
      <bean id="email" class="com.services.EmailService"></bean>
      <bean id="MyXMLApp" class="com.consumer.MyXMLApplication">
       <property name="service" ref="twitter"></property></bean>
     </beans>
      <!-- <bean id="MyXMLApp" class="com.consumer.MyXMLApplication">
      <constructor-arg>
      <bean class="com.services.TwitterService"/></constructor-arg>
      </bean> -->
